<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayPayment"></activity>
        <activity android:name=".SearchView" />
        <activity android:name=".AddPayment" />
        <activity android:name=".dispalycustmer" />
        <activity android:name=".viewRegister" />
        <activity android:name=".displaySup" />
        <activity android:name=".viewSupItem" />
        <activity android:name=".display" />
        <activity android:name=".viewitem" />
        <activity android:name=".supadddetails" />
        <activity android:name=".item" />
        <activity android:name=".customerDetails" />
        <activity android:name=".AboutUs" />
        <activity android:name=".menu" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>